# Ignore the build dirs
obj

# Ignore all build parts
# bin/*

# Ignore .tar.gz
#res/images/*

# ignore #
src/cpp/*#*
src/test/*#*
src/trash

# Ignore Mac specific files
.DS_Store

# Ignore doc directory
doc/
